<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
    <title>Usine Partagée | Dispositif Régional - Référencement des besoins</title>
    <meta name="description"
        content="Ce formulaire est destiné aux professionnels de santé. Son objectif est de référencer les besoins en matière d'écrans faciaux liés au COVID-19. Sous réserve d'un accord définitif et formalisé, la Région Normandie prendra en charge tous les frais de l'opération. Ce cas échéant, les visières / écrans faciaux seront donc gratuits." />
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootflat/css/bootflat.min.css" />
    <link rel="stylesheet" href="/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Usine Partagée</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                    <p class="navbar-text">Dispositif Régional - Référencement des besoins</p>
                    <p class="navbar-right logo">
                        <img src="/img/logo.png" alt=""
                            title="Une opération coordonnée par la Région Normandie et Le Dôme" height="50" />
                    </p>
                </div>
            </div>
        </nav>
    </header>

    <div class="content-container">
        <% if (success) { %>
        <div class="alert alert-success alert-dismissable">
            <h4>Bien reçu !</h4>
            <p>
                Votre demande a été enregistrée, elle sera traitée dans les plus brefs délais.<br />
            </p>
        </div>
        <% } %>

        <% if (Object.keys(errors).length > 0) { %>
        <div class="alert alert-danger alert-dismissable">
            <h4>Erreur de validation</h4>
            <p>Votre demande n'a pas pu être prise en compte, veuillez vérifier votre requête et recommencer.</p>
        </div>
        <% } %>

        <% if (internalError) { %>
        <div class="alert alert-danger alert-dismissable">
            <h4>Erreur interne</h4>
            <p>Un problème a été rencontré lors de l'enregistrement de votre demande. Veuillez retenter plus tard.</p>
        </div>
        <% } %>

        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Usine Partagée</h1>
                <h3>Référencement des besoins</h3>
                <h6>Une opération coordonnée par la <a href="https://www.normandie.fr/">Région Normandie</a> et <a
                        href="http://ledome.info/">Le Dôme</a></h6>
                <p style="margin-top: 3rem;">
                    <strong>Ce formulaire est destiné aux professionnels de santé.</strong>
                </p>
                <p>
                    Son objectif est de référencer les besoins en matière de visières / écrans faciaux liés au COVID-19.
                    <br />
                    La <a href="https://www.normandie.fr/">Région Normandie</a> prendra en charge les frais de
                    l'opération. Les écrans faciaux seront donc gratuits.
                </p>
                <p><em>N.B. : vous voudrez bien comprendre que nous donnons priorité aux établissements hospitaliers, médecins et infirmières. Merci aussi de noter que le financement accordé par la Région permet, à ce jour, la réalisation de 5000 visières.</em></p>
                <p><em>Vous pouvez suivre l’état des demandes régulièrement sur cette page :</em> <strong><%= stats.requestedShadeExceptRejectedQty %> / 5000</strong></p>
                <p></p>
            </div>
        </div>

        <form action="/" method="POST">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>ORGANISATION</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="requester_name">Nom de la structure</label>
                        <input type="text" class="form-control" id="requester_name" name="requester_name" placeholder=""
                            required value="<%= request.requester_name %>" />
                    </div>

                    <strong>Type de numéro de professionnel de santé</strong><br />
                    <div class="form-group radio <% if (errors.requester_type) { %>has-error<% } %>">
                        <label for="requester_type_finess">
                            <input type="radio" name="requester_type" id="requester_type_finess" value="finess"
                                <%= request.requester_type === 'finess' ? 'checked' : '' %>>
                            FINESS
                        </label>
                        <label for="requester_type_rpps">
                            <input type="radio" name="requester_type" id="requester_type_rpps" value="rpps"
                                <%= request.requester_type === 'rpps' ? 'checked' : '' %>>
                            RPPS
                        </label>
                        <label for="requester_type_adeli">
                            <input type="radio" name="requester_type" id="requester_type_adeli" value="adeli"
                                <%= request.requester_type === 'adeli' ? 'checked' : '' %>>
                            ADELI
                        </label>
                        <label for="requester_type_other">
                            <input type="radio" name="requester_type" id="requester_type_other" value="other"
                                <%= request.requester_type === 'other' ? 'checked' : '' %>>
                            Autre (précisez quel type de numéro)
                            <input type="text" class="form-control" id="requester_other_type"
                                name="requester_other_type" placeholder="" value="<%= request.requester_other_type %>"
                                placeholder="Type de numéro de professionnel de santé" />
                        </label>
                        <% if (errors.requester_type) { %>
                        <p class="help-block"><%= errors.requester_type %></p>
                        <% } %>
                    </div>

                    <div class="form-group">
                        <label for="requester_professional_identifier">Numéro de professionnel de santé</label>
                        <input type="text" class="form-control" id="requester_professional_identifier"
                            name="requester_professional_identifier" placeholder=""
                            value="<%= request.requester_professional_identifier %>" autocomplete="off" required />
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>CONTACT OPERATIONNEL</h4>
                </div>
                <div class="panel-body">
                    <p>Il s'agit du référent qui s'occupera de receptionner la demande, qui pourra être contacté pour
                        les besoins de la livraison.</p>

                    <div class="form-group">
                        <label for="contact_name">Nom</label>
                        <input type="text" class="form-control" id="contact_name" name="contact_name"
                            placeholder="NOM Prénom" value="<%= request.contact_name %>" required />
                    </div>

                    <div class="form-group">
                        <label for="contact_email">Adresse email</label>
                        <input type="email" class="form-control" id="contact_email" name="contact_email"
                            value="<%= request.contact_email %>" required />
                    </div>

                    <div class="form-group">
                        <label for="contact_phone">Numéro de téléphone</label>
                        <input type="text" class="form-control" id="contact_phone" name="contact_phone"
                            value="<%= request.contact_phone %>" required />
                        <p class="help-block">Téléphone mobile, si possible</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>ADRESSE DE LIVRAISON</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="delivery_address">Adresse</label>
                        <input type="text" class="form-control" id="delivery_address" name="delivery_address"
                            value="<%= request.delivery_address %>" required />
                    </div>

                    <div class="address-box">
                        <div class="postal-code">
                            <div class="form-group">
                                <label for="delivery_postal_code">Code Postal</label>
                                <input type="text" class="form-control" id="delivery_postal_code"
                                    name="delivery_postal_code" value="<%= request.delivery_postal_code %>" required />
                            </div>
                        </div>
                        <div class="city">
                            <div class="form-group">
                                <label for="delivery_city">Ville</label>
                                <input type="text" class="form-control" id="delivery_city" name="delivery_city"
                                    value="<%= request.delivery_city %>" required />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>MATERIEL</h4>
                </div>
                <div class="panel-body">
                    <p>Minimum 5 visières et maximum 150 visières en tout</p>

                    <div class="form-group <% if (errors.mask_small_size_quantity) { %>has-error<% } %>">
                        <label for="mask_small_size_quantity">Quantité souhaitée modèle standard (24cm)</label>
                        <input type="number" id="mask_small_size_quantity" name="mask_small_size_quantity"
                            class="form-control stepper-input" value="<%= request.mask_small_size_quantity || 0 %>"
                            min="0" />
                        <% if (errors.mask_small_size_quantity) { %>
                        <p class="help-block"><%= errors.mask_small_size_quantity %></p>
                        <% } %>
                    </div>

                    <div class="form-group <% if (errors.mask_large_size_quantity) { %>has-error<% } %>">
                        <label for="mask_large_size_quantity">Quantité souhaitée modèle long (34cm)</label>
                        <input type="number" id="mask_large_size_quantity" name="mask_large_size_quantity"
                            class="form-control stepper-input" value="<%= request.mask_large_size_quantity || 0 %>"
                            min="0" />
                        <% if (errors.mask_small_size_quantity) { %>
                        <p class="help-block"><%= errors.mask_large_size_quantity %></p>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>PREVISIONNEL</h4>
                </div>
                <div class="panel-body">
                    <p>
                        Afin d'anticiper au mieux la production de visières dans les prochaines semaines, pensez-vous
                        devoir
                        passer une nouvelle demande dans les temps à venir ?
                        <br />
                        Si non, vous pouvez passer à la suite.
                    </p>

                    <div class="form-group">
                        <label for="forecast_quantity">Combien de visières ?</label>
                        <input type="number" id="forecast_quantity" name="forecast_quantity"
                            class="form-control stepper-input" min="0" value="<%= request.forecast_quantity || 0 %>"
                            required />
                    </div>

                    <div class="form-group">
                        <label for="forecast_days">Dans combien de jours ?</label>
                        <input type="number" id="forecast_days" name="forecast_days" class="form-control stepper-input"
                            min="0" value="<%= request.forecast_days || 0 %>" required />
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><label for="requester_comment">COMMENTAIRE</label></h4>
                </div>
                <div class="panel-body">
                    <textarea id="requester_comment" name="requester_comment" class="form-control" rows="3"
                        placeholder="Une précision pour le producteur ou le livreur ?"
                        resize="vertical"><%= request.requester_comment %></textarea>
                </div>
            </div>

            <div class="submit">
                <button type="submit" class="btn btn-primary">ENVOYER</button>
            </div>
        </form>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="clearfix">
                <div class="footer-logo">
                    <a href="https://www.caen.camp/">
                        <img src="/img/caencamp.png" alt="" width="120" />
                    </a>
                </div>
                <dl class="footer-nav">
                    <dt class="nav-title">PRODUCTION</dt>
                    <dd class="nav-item"><a href="https://www.caen.camp/">CaenCamp</a></dd>
                    <dd class="nav-item"><a href="https://github.com/CaenCamp">GitHub</a></dd>
                    <dd class="nav-item"><a href="https://twitter.com/caencamp">Twitter</a></dd>
                </dl>
                <dl class="footer-nav">
                    <dt class="nav-title">VIE PRIVEE</dt>
                    <dd class="nav-item">Aucun cookie</dd>
                    <dd class="nav-item">Aucune donnée n'est récoltée, ni stockée</dd>
                </dl>
                <dl class="footer-nav">
                    <dt class="nav-title">HEBERGEMENT</dt>
                    <dd class="nav-item"><a href="https://www.clever-cloud.com">Clever Cloud SAS</a></dd>
                    <dd class="nav-item">3 rue de l'Allier</dd>
                    <dd class="nav-item">44000 NANTES</dd>
                    <dd class="nav-item">+33 2 85 52 07 69</dd>
                </dl>
            </div>
            <div class="footer-copyright text-center">Les sources de ce site internet sont disponibles à l'adresse <a
                    href="https://github.com/CaenCamp/usine-distribuee">github.com/CaenCamp/usine-distribuee</a></div>
        </div>
    </footer>
</body>

</html>
