<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>Usine Partagée</title>
    <link rel="stylesheet" href="/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootflat/css/bootflat.css" />
    <link rel="stylesheet" href="/index.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Usine Partagée</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                    <p class="navbar-text">Dispositif Régional - Référencement des besoins</p>
                </div>
            </div>
        </nav>
    </header>

    <div class="content-container">
        <% if (success) { %>
        <div class="alert alert-success alert-dismissable">
            <h4>Bien reçu !</h4>
            <p>
                Votre commande a été enregistrée, elle sera traitée dans les plus brefs délais.<br />
            </p>
        </div>
        <% } %>

        <% if (Object.keys(errors).length > 0) { %>
        <div class="alert alert-danger alert-dismissable">
            <h4>Erreur de validation</h4>
            <p>Votre commande n'a pas pu être prise en compte, veuillez vérifier votre requête et recommencer.</p>
        </div>
        <% } %>

        <div class="panel panel-default">
            <div class="panel-body">
                <h2 style="margin-top: 0;">Usine Partagée</h2>
                <h3>Référencement des besoins</h3>
                <p>
                    Ce formulaire est destiné aux professionnels de santé.
                    <br />
                    <br />
                    Son objectif est de référencer les besoins en matière d'écrans faciaux liés au COVID-19.
                    <br />
                    Sous réserve d'un accord définitif et formalisé, la <a href="https://www.normandie.fr/">Région
                        Normandie</a> prendra en charge tous les
                    frais de
                    l'opération.
                    <br />
                    Ce cas échéant, les masques seront donc gratuits.
                </p>
            </div>
        </div>

        <form action="/" method="POST">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>ORGANISATION</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="requester_name">Nom de la structure</label>
                        <input type="text" class="form-control" id="requester_name" name="requester_name" placeholder=""
                            required value="<%= request.requester_name %>" />
                    </div>

                    <div class="form-group">
                        <label for="requester_type">Type de numéro de professionnel de santé</label>
                        <select class="form-control" id="requester_type" name="requester_type"
                            value="<%= request.requester_type %>" autocomplete="off" required>
                            <option value="finess">FINESS</option>
                            <option value="rpps">RPPS</option>
                            <option value="adeli">ADELI</option>
                            <option value="other">Préciser</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="requester_professional_identifier">Numéro de professionnel de santé</label>
                        <input type="text" class="form-control" id="requester_professional_identifier"
                            name="requester_professional_identifier" placeholder=""
                            value="<%= request.requester_professional_identifier %>" autocomplete="off" required />
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>CONTACT OPERATIONEL</h4>
                </div>
                <div class="panel-body">
                    <p>Il s'agit du référent qui s'occupera de receptionner la commande, qui pourra être contacté pour
                        les besoins de la livraison.</p>

                    <div class="form-group">
                        <label for="contact_name">Nom</label>
                        <input type="text" class="form-control" id="contact_name" name="contact_name"
                            placeholder="NOM Prénom" value="<%= request.contact_name %>" required />
                    </div>

                    <div class="form-group">
                        <label for="contact_email">Adresse email</label>
                        <input type="email" class="form-control" id="contact_email" name="contact_email"
                            value="<%= request.contact_email %>" required />
                    </div>

                    <div class="form-group">
                        <label for="contact_phone">Numéro de téléphone</label>
                        <input type="text" class="form-control" id="contact_phone" name="contact_phone"
                            value="<%= request.contact_phone %>" required />
                        <p class="help-block">Téléphone mobile, si possible</p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>ADRESSE DE LIVRAISON</h4>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="delivery_address">Adresse</label>
                        <input type="text" class="form-control" id="delivery_address" name="delivery_address"
                            value="<%= request.delivery_address %>" required />
                    </div>

                    <div class="address-box">
                        <div class="postal-code">
                            <div class="form-group">
                                <label for="delivery_postal_code">Code Postal</label>
                                <input type="text" class="form-control" id="delivery_postal_code"
                                    name="delivery_postal_code" value="<%= request.delivery_postal_code %>" required />
                            </div>
                        </div>
                        <div class="city">
                            <div class="form-group">
                                <label for="delivery_city">Ville</label>
                                <input type="text" class="form-control" id="delivery_city" name="delivery_city"
                                    value="<%= request.delivery_city %>" required />
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>COMMANDE</h4>
                </div>
                <div class="panel-body">
                    <p>Minimum 5 masques par commande</p>

                    <div class="form-group <% if (errors.mask_small_size_quantity) { %>has-error<% } %>">
                        <label for="mask_small_size_quantity">Quantité souhaitée modèle court</label>
                        <input type="number" id="mask_small_size_quantity" name="mask_small_size_quantity"
                            class="form-control stepper-input" value="<%= request.mask_small_size_quantity || 0 %>"
                            min="0" />
                        <p class="help-block">Hauteur visière : 24cm <% if (errors.mask_small_size_quantity) { %>
                            <span>- <%= errors.mask_small_size_quantity %></span>
                            <% } %></p>
                    </div>

                    <div class="form-group <% if (errors.mask_large_size_quantity) { %>has-error<% } %>">
                        <label for="mask_large_size_quantity">Quantité souhaitée modèle long</label>
                        <input type="number" id="mask_large_size_quantity" name="mask_large_size_quantity"
                            class="form-control stepper-input" value="<%= request.mask_large_size_quantity || 0 %>"
                            min="0" />
                        <p class="help-block">Hauteur visière : 34cm<% if (errors.mask_small_size_quantity) { %>
                            <span>- <%= errors.mask_large_size_quantity %></span>
                            <% } %></p>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>PREVISIONNEL</h4>
                </div>
                <div class="panel-body">
                    <p>
                        Afin d'anticiper au mieux la production de masque dans les prochaines semaines, pensez-vous
                        devoir
                        passer une nouvelle commande dans les temps à venir ?
                        <br />
                        Si non, vous pouvez passer à la suite.
                    </p>

                    <div class="form-group">
                        <label for="forecast_quantity">Combien de masque ?</label>
                        <input type="number" id="forecast_quantity" name="forecast_quantity"
                            class="form-control stepper-input" min="0" value="<%= request.forecast_quantity || 0 %>" />
                    </div>

                    <div class="form-group">
                        <label for="forecast_days">Dans combien de jours ?</label>
                        <input type="number" id="forecast_days" name="forecast_days" class="form-control stepper-input"
                            min="0" value="<%= request.forecast_days || 0 %>" />
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>COMMENTAIRE</h4>
                </div>
                <div class="panel-body">
                    <textarea id="requester_comment" name="requester_comment" class="form-control" rows="3"
                        placeholder="Une précision pour le producteur ou le livreur ?"><%= request.requester_comment %></textarea>
                </div>
            </div>

            <div class="submit">
                <button type="submit" class="btn btn-primary">ENVOYER</button>
            </div>
        </form>
    </div>

    <footer class="footer">
        <div class="container">
            <div class="clearfix">
                <div class="footer-logo"><img src="/img/caencamp.png" alt="" width="120" /></div>
                <dl class="footer-nav">
                    <dt class="nav-title">PRODUCTION</dt>
                    <dd class="nav-item"><a href="https://www.caen.camp/">CaenCamp</a></dd>
                    <dd class="nav-item"><a href="https://github.com/CaenCamp">GitHub</a></dd>
                    <dd class="nav-item"><a href="https://twitter.com/caencamp">Twitter</a></dd>
                </dl>
                <dl class="footer-nav">
                    <dt class="nav-title">VIE PRIVEE</dt>
                    <dd class="nav-item">Aucun cookie</dd>
                    <dd class="nav-item">Aucune donnée n'est récoltée, ni stockée</dd>
                </dl>
                <dl class="footer-nav">
                    <dt class="nav-title">HEBERGEMENT</dt>
                    <dd class="nav-item"><a href="https://www.clever-cloud.com">Clever Cloud SAS</a></dd>
                    <dd class="nav-item">3 rue de l'Allier</dd>
                    <dd class="nav-item">44000 NANTES</dd>
                    <dd class="nav-item">+33 2 85 52 07 69</dd>
                </dl>
            </div>
            <div class="footer-copyright text-center">Les sources de ce site internet sont disponible à l'adresse <a
                    href="https://github.com/CaenCamp/usine-distribuee">github.com/CaenCamp/usine-distribuee</a></div>
        </div>
    </footer>
</body>

</html>
